{% extends "app01/blog_index.html" %}
{% block blog_index %}{% endblock %}

{% block main %}
<div class="main" style="width:100%;">
    <div class="article">
      <div class="map"><span> 当前位置：<a href='/'>首页</a> > <a href=''>修改密码</a></span> </div>
      <div class="title">
        <h1> 修改密码 </h1>
      </div>
      <div class="article_content">
      	<div class="message">
            <form action="/password_change/" method="post">
                <dd>旧的密码：<input type="text" class="kuang" name="old_password" readonly onfocus="this.removeAttribute('readonly');"></dd>
                <dd>新的密码：<input type="password" class="kuang" name="new_password1" ></dd>
                <dd>二次确认：<input type="password" class="kuang" name="new_password2" ></dd>
                <dd><input type="submit" class="tj" value="提交" style="margin-right:20px"></dd>
                <dd style="color:green">{{ msg }}</dd>
                <dd style="color:red">{{ err_msg }}</dd>
        </div>
      </div>
    </div>
</div>

{% endblock %}
{% block right %}
{% endblock %}
